@using System.Linq
@model System.Collections.Generic.List<MoviesApp.ViewModels.ActorViewModel>



@{
    ViewData["Title"] = "Home Page";
}

<h1>Index</h1>

<td>
    <a asp-action="Create">Create</a>
</td>
<table class="table">
    <thead>
    <tr>

        <th>
            <label asp-for="@Model.First().Name"></label>
        </th>
        <th>
            <label asp-for="@Model.First().FirstName"></label>
        </th>
        <th>
            <label asp-for="@Model.First().DateOfBirth"></label>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.DateOfBirth.ToString("dd.MM.yyyy")
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>